 #Листинг 11.21: Партиал для отображения единичного микросообщения. app/views/microposts/_micropost.html.erb  11.49 :11.59 
<li id="<%= student.id %>">
  <%#= link_to gravatar_for(micropost.user) %>
 <span class="user"><%= link_to student.user.name, student.user %></span>
  
<span class="id"><%= student.user_id %></span>
 <%#= image_tag micropost.picture.url if micropost.picture? %>
<span class="timestamp">
</span>
  <!-- :11.49 удаление micropost -->
Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
