<!--#Листинг 9.2: Представление для редактирования пользователя app/views/users/#edit.html.erb  :11.42 #Листинг 11.42: :edit-->
<% provide(:title, "EditStudent") %>
<h1>Update user and student</h1>

<!--#March_21 2021 http://rusrails.ru/rails-form-helpers -->
<% @user ||= current_user %>
<%= form_with model: @user do |user_form| %>
<%#= render 'shared/error_messages', object: form.object %>
   
      <%= user_form.label :name %>
      <%= user_form.text_field :name, class: 'form-control' %>

      <%= user_form.label :email %>
      <%= user_form.email_field :email, class: 'form-control' %>
     
      <%= user_form.label :password %>
      <%= user_form.password_field :password, class: 'form-control' %>

      <%= user_form.label :password_confirmation, "Confirmation" %>
      <%= user_form.password_field :password_confirmation, class: 'form-control' %>
----------
Sign
<%= user_form.fields_for :signs do |signs_form| %>
<%= signs_form.text_field :rolename %>
---------------
    
  <p>Students:
  
    <%= signs_form.fields_for :students do |students_form| %>
      <li>
          <%= students_form.label :userid %>
          <%= students_form.text_field :user_id %>

          <%= students_form.label :country %>
          <%= students_form.text_field :country %>

        <%= students_form.label :fio %>
        <%= students_form.text_field :fio %>


<%= students_form.label :lastname %>
        <%= students_form.text_field :lastname %>

<%= students_form.label :firstname %>
        <%= students_form.text_field :firstname %>

<%= students_form.label :comment %>
        <%= students_form.text_field :comment %>

       
        <%#= students_form.submit "Save student changes", class: "btn btn-primary" %>
<%#no work = signs_form.submit "Save form user+students changes", class: "btn btn-primary" %>
      </li>


<%= students_form.submit "Save student user_form changes", class: "btn btn-primary" %>

<% end %>
 <% end %>
<% end %>
