<h1>Listing students</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Country</th>
      <th>Fio</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Email</th>
      <th>Comment</th>
      <th>User_id</th>
<th>Sign_id</th>

     <th>Student_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>table-hover #Oct_16
    <% @students.each do |student| %>

<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <tr>
        <td><%= student.country %></td>
        <td><%= student.fio %></td>
        <td><%= student.lastname %></td>
        <td><%= student.firstname %></td>
        <td><%= student.email %></td>
        <td><%= student.comment %></td>
        <td><%= student.user_id %></td>
        <td><%= student.sign_id %></td>



<td><%= student.id %></td>
        <td><%#= link_to 'Show', student %></td>
        <td><%#= link_to 'Edit', edit_student_path(student) %></td>
        <td><%#= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Student', new_student_path %>
