<% provide(:title, "ShowStudent") %>

<strong>sign.rolename=</strong><%= @student.sign.rolename %><p>


<p>
  <strong>User_id:</strong>
 <%= @student.user_id %>
</p>
<strong>sign_id:</strong>
 <%= @student.sign_id %>
<p>
<p>
  <strong>Studentid:</strong>
  <%= @student.id %>
</p>


<%= form_with model: [ @student, @student.posts.build ] do |form_post| %>

user_id<%= form_post.number_field :user_id %>

sign_id<%= form_post.number_field :sign_id %>

student_id<%= form_post.number_field :student_id %>

post_id<%= form_post.number_field :id %>

content<%= form_post.text_field :content %>
<%= form_post.submit %>

<h2>Add a comment:</h2>


Oct_13
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>

<% if  @student.posts.any? %>
      <h3> Posts = (<%= @student.posts.count %>) <%#= @user.name %>  </h3> 
      <ol class="posts">
          <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>

<% end %>
