<!-- Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<%# @user ||= current_user %>

<%#= form_for(@sign) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <%#= form_for(@sign) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
<!--
<h2>create sign !!! /shared/ _sign_form<p></h2>
 -->
userid=<%#= f.number_field :user_id %>
rolepodst_id=<%#= f.number_field :rolepodst_id %>  
 sign.rolename=<%#= f.text_field :rolename %>
=======

<%#= form_for([@post, @post.comments.build]) do |f| %>

 <%#= form_for([@user, @user.signs.build]) do |sign_form| %>
<%#= form_for([@user, @user.signs.edit]) do |sign_form| %> 
  
<%= form_for([@user, @user.signs.build]) do |sign_form| %>
     userid=<%=sign_form.number_field :user_id %>

     
     rolepodst_id=<%=sign_form.number_field :rolepodst_id %>  
    
     sign.rolename=<%= sign_form.text_field :rolename %>

  </div>
  

<%#= f.submit "Post !!", class: "btn btn-primary" %>

<%= sign_form.submit "Post !!", class: "btn btn-primary" %>
<% end %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>



