<!-- Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<%#@user ||= current_user %>
               <%#= form_for(@student) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_with model: @student do |form| %>
  <%= form.text_field :fio %>
<%#= form, :fio %>


<%#= form_with model: @student, builder: LabellingFormBuilder do |form| %>
  <%#= form.text_field :fio %>
<%# end %>
</div>




 <div class="field">
    <%#= f.text_area :user_id, placeholder: "Compose new student.user_id.." %>
<%#= f.number_field :user_id %>
<%#= f.number_field :user_id %>
               fio <%#= f.text_field :fio %>
  </div>
  


<%#= f.submit "Post", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>


