<% provide(:title, "StudentShow") %>

<p id="notice"><%#= notice %></p>
sign.user.name=<%= @sign.user.name %><p>
Sign
<p>
  <strong>Rolename Sept_25:</strong>
  <%= @sign.rolename %>
</p>

<p>
  <strong>User_id:</strong>
 sign.user_id= <%= @sign.user_id %>
</p>

<p>
  <strong>Rolepodst:</strong>
  <%= @sign.rolepodst_id %>
</p>
Student
<h2>Add a comment:</h2>
<%= form_with model: [ @sign, @sign.students.build ] do |form| %>

user_id<%= form.number_field :user_id %>

sign_id<%= form.number_field :sign_id %>

fio<%= form.text_field :fio %>
  <%= form.submit %>
<% end %>
<%#= link_to 'Edit', edit_sign_path(@sign) %> 
<%#= link_to 'Back', signs_path %>
