<!-- #Листинг 11.21: Партиал для отображения единичного микросообщения. app/views/# #microposts/_micropost.html.erb  11.49 :11.59 -->

current_user.name=<%= @user.name %>
<li id="<%= post.id %>">
  <%#= link_to gravatar_for(micropost.user) %>
  <span class="user"><%#= link_to post.user.name, post.user %></span>
  
<span class="content">
<%#= micropost.content<!-- #Листинг 11.21: Партиал для отображения единичного микросообщения. app/views/# #microposts/_micropost.html.erb  11.49 :11.59 -->


<%= post.id %>
  <%#= link_to gravatar_for(micropost.user) %>
  <span class="user"><%#= link_to post.student.fio student %></span>
  
<span class="content">
<%= post.content %>
 <%#= image_tag micropost.picture.url if micropost.picture? %>
</span>

  <!-- :11.49 удаление micropost -->
        <!--  <span class="timestamp">
          <%#Posted = time_ago_in_words(post.created_at) %>
              <%# if current_user?(post.user) %>
                <%#= link_to "delete", micropost, method: :delete,
                                                 data: { confirm: "You sure?" } %>
              <%# end %>
           
          </li> %>
-->
 <%#= image_tag micropost.picture.url if micropost.picture? %>


  <!-- :11.49 удаление micropost -->
<!--
Posted <%#= time_ago_in_words(micropost.created_at) %> ago.
    <%# if current_user?(micropost.user) %>
      <%#= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <%# end %>
<%# end %>
  </span>
</li>   -->
