#def

<h3>Welcome, <%= current_user.name -%></h3>
<h1>Hello, Rails!</h1>
<h1>Listing students</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
   <th colspan="3"></th>
    </tr>
  </thead>




<tbody>table-hover
# <%# @students.each do |student| %>
<% @microposts.each do |micropost| %>

<td><%= micropost.content %></td>
<% end %>
</tbody>
</table>
