<!--3.32
app/views/layouts/application.html.erb
<Листинг 4.1: Макет сайта учебного приложения.  
Листинг 4.3: Шаблон сайта с хелпером full_title. 
Листинг 5.1: Шаблон сайта с добавленными структурами. app/views/layouts/application.html.erb
Листинг 5.12: 5.15 Макет сайта с партиалом подвала. app/views/layouts/application.html.erb
Листинг 7.1:7.25 -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
         <title><%#= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>

    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
 
 <body>
<h2>Oct_16 13:11 /selectsign   -b master </h2>

<h2> 

 </h2>
   <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>

